<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/uistyles.css">
    <link rel="stylesheet" href="/styles/colorjoe.css">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="/js/colorjoe.min.js"></script>
    <script type="module" src="/js/colorjoe.js" defer></script>
    <title>pbw UI Page</title>
</head>

<body>
    <div class="outterWrapper">
        <div class="innerWrapper">
            <div class="container childItem">
                <div class="colorjoe"></div>
                <div class="config">
                    <div class="config-title">Selected Colour</div>
                    <div class="selected-color-text">#009578</div>
                    <!-- <hr class="nameHr"> -->
                    <div class="selected-color"></div>
                    <div class="config-title">Saved Colours</div>
                    <div class="gradientOne">
                        <div class="gradientOneText">Background Gradient</div>
                        <!-- <hr class="nameHr"> -->
                        <div class="saved-color"></div>
                        <div class="saved-color"></div>
                    </div>
                    
                    <div class="gradientTwo">
                        <div class="gradientTwoText">Forground Gradient</div> 
                        <!-- <hr class="nameHr"> -->
                        <div class="saved-color"></div>
                        <div class="saved-color"></div>
                    </div>
                    
                    <div class="outerGlow">
                        <div class="outerGlowText">Outer Glow</div>
                        <!-- <hr class="nameHr"> -->
                        
                        <div class="saved-color"></div>
                    </div>
                    
                    <div class="radiusAdjust">
                        <div class="radiusAdjustText">Corner Radius</div>
                        <!-- <hr class="nameHr"> -->
                        <input type="range" class="slider" id="slider" min="0" max="32" value="32" />
                    </div>
                </div>
            </div>
            <div class="pbw childItem">
                <div class="previewTitle">PREVIEW</div>
                <iframe class="iframe" src="http://localhost:3000" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</body>

</html>