<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/uistyles.css">
    <link rel="stylesheet" href="/styles/colorjoe.css">
    <script src="/js/colorjoe.min.js"></script>
    <script type="module" src="/js/colorjoe.js" defer></script>
    <title>pbw UI Page</title>
</head>
<body>
    <div class="container">
        <div class="colorjoe"></div>
        <div class="config">
            <div class="config-title">Selected Colour</div>
            <div class="selected-color-text">#009578</div>
            <div class="selected-color"></div>
            <div class="config-title">Saved Colours</div>
            <div class="saved-color"></div>
            <div class="saved-color"></div>
            <div class="saved-color"></div>
            <div class="saved-color"></div>
            <div class="saved-color"></div>
        </div>
    </div>
    <script>
//         class ColorPicker {
//     constructor(root) {
//         this.root = root;
//         this.colorjoe = colorjoe.rgb(this.root.querySelector(".colorjoe"));
//         this.selectedColor = null;
//         this.savedColors = this.getSavedColors();

//         this.colorjoe.show();
//         this.setSelectedColor("#009500")

//         this.colorjoe.on("change", color => {
//             this.setSelectedColor(color.hex());
//         });
//     }

//     setSelectedColor(color, skipCjUpdate = false) {
//         this.setSelectedColor = color;
//         this.root.querySelector(".selected-color-text").textContent = color;
//         this.root.querySelector(".selected-color").style.background = color;
//     }

//     getSavedColors() {
//         return ["#ffffff", "#0000ff", "#ffffff", "#ffffff", "#ffffff",]
//     }
// }


// const cp = new ColorPicker(document.querySelector(".container"));
    </script>

</body>
</html>
