<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/uistyles.css">
    <link rel="stylesheet" href="/styles/colorjoe.css">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="/js/colorjoe.min.js"></script>
    <script type="module" src="/js/colorjoe.js" defer></script>
    <title>pbw UI Page</title>
</head>

<body>
    <div class="outterWrapper">
        <div class="innerWrapper">
            <div class="container childItem">
                <div class="colorjoe"></div>
                <div class="config">
                    <div class="config-title">Selected Colour</div>
                    <div class="selected-color-text">#009578</div>
                    <!-- <hr class="nameHr"> -->
                    <div class="selected-color"></div>
                    <div class="config-title">Saved Colours</div>
                    <div class="gradientOne">
                        <div class="gradientOneText">Background Gradient</div>
                        <!-- <hr class="nameHr"> -->
                        <div class="saved-color"></div>
                        <div class="saved-color"></div>
                    </div>
                    
                    <div class="gradientTwo">
                        <div class="gradientTwoText">Forground Gradient</div> 
                        <!-- <hr class="nameHr"> -->
                        <div class="saved-color"></div>
                        <div class="saved-color"></div>
                    </div>
                    
                    <div class="outerGlow">
                        <div class="outerGlowText">Outer Glow</div>
                        <!-- <hr class="nameHr"> -->
                        
                        <div class="saved-color"></div>
                    </div>
                    
                    <div class="radiusAdjust">
                        <div class="radiusAdjustText">Corner Radius</div>
                        <!-- <hr class="nameHr"> -->
                        <input type="range" class="slider" id="radiusSlider" min="0" max="32" value="32" />
                    </div>

                    <div class="widthAdjust">
                        <div class="widthAdjustText">Progress Bar Width</div>
                        <!-- <hr class="nameHr"> -->
                        <input type="range" class="slider" id="widthSlider" min="8" max="38" value="32" />
                    </div>

                    <div class="outerGlowBlurAdjust">
                        <div class="outerGlowBlurAdjustText">Outer Glow - Blur</div>
                        <!-- <hr class="nameHr"> -->
                        <input type="range" class="slider" id="blurSlider" min="0" max="20" value="10" />
                    </div>

                    <div class="outerGlowSpredAdjust">
                        <div class="outerGlowSpreadAdjustText">Outer Glow - Spread</div>
                        <!-- <hr class="nameHr"> -->
                        <input type="range" class="slider" id="spreadSlider" min="0" max="10" value="0" />
                    </div>
                    
                      <div class="textRadio">
                        <input type="radio" id="top" name="text_toggle" value="column" checked>
                        <label class="text-radio" for="top">Text Top</label>
                        <input type="radio" id="bot" name="text_toggle" value="column-reverse">
                        <label class="text-radio" for="bot">Text Bottom</label>
                    </div>

                    <div>
                        <label class="switch">
                          <input type="checkbox" id="rageCheckbox">
                          <span class="toggle"></span>
                        </label> Rage On/Off
                    </div>
                     <div class="fontSelector">
                    <select id="fontStyles">
                        <option value="OpenSans">Open Sans</option>
                        <option value="ComicNeue">Comic Neue</option>
                        <option value="Poppins">Poppins</option>
                        <option value="Roboto">Roboto</option>
                        <option value="arial">Arial</option>
                        <option value="impact">Impact</option>
                    </select>
                </div>
                </div>
            </div>
            <div class="pbw childItem">
                <div class="previewTitle">PREVIEW</div>
                <iframe class="iframe" src="http://localhost:3000" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</body>

</html>