<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script type="module" src="/js/progress.js" defer></script>

</head>
<body>

  <div class="container">
    <div class="rage childItem">
      <div class="c">
        <span class="c-person">(／‵Д′)／</span>~ <span class="c-table">╧╧</span>
      </div>
    </div>
    <div class="goalTotal childItem">Bit Goal:</div>
    <div class="progress childItem">
      <div class="percentage"></div>
      <div class="bar"></div>
    </div>
  </div>

</body>

</html>