<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script type="module" src="/js/progress.js" defer></script>
</head>

<body>

  <div class="container">
    <div class="goalTotal">Bit Goal:</div>
    <div class="progress">
      <div class="bar">
        <p class="percentage"></p>
      </div>
    </div>
  </div>

</body>

</html>